flows/Jobstagepiclist.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assgining_job</name>
        <label>Assgining_job</label>
        <locationX>754</locationX>
        <locationY>144</locationY>
        <assignmentItems>
            <assignToReference>loop_job_obj.Job_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stage_picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Job_final_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Job_final_list</name>
        <label>Job_final_list</label>
        <locationX>770</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>Job_final</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_job_obj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_the_Job_Stage</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Jobstage_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Job_Stage__c</picklistField>
        <picklistObject>Job__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Jobstagepiclist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Jobstagepiclist1</label>
    <loops>
        <name>Looping_the_Job_Stage</name>
        <label>Looping the Job Stage</label>
        <locationX>521</locationX>
        <locationY>255</locationY>
        <assignNextValueToReference>loop_job_obj</assignNextValueToReference>
        <collectionReference>Job_updatable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assgining_job</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Job</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_jobs</name>
        <label>Fetch_jobs</label>
        <locationX>342</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_the_Job_Stage</targetReference>
        </connector>
        <filters>
            <field>Job_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>Job_updatable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Job_Stage__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Job</name>
        <label>Update the Job</label>
        <locationX>527</locationX>
        <locationY>388</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>Job_final</inputReference>
    </recordUpdates>
    <screens>
        <name>Job_Stage</name>
        <label>Job_Stage</label>
        <locationX>343</locationX>
        <locationY>107</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fetch_jobs</targetReference>
        </connector>
        <fields>
            <name>stage_picklist</name>
            <choiceReferences>Jobstage_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Job Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>526</locationX>
        <locationY>504</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>JobSuccess</name>
            <fieldText>Job Success</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Job_Stage</startElementReference>
    <status>Draft</status>
    <variables>
        <name>Job_final</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>Job_updatable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>loop_job_obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
</Flow>
